@use 'variables' as *;
@use 'mixins' as *;

body {
  font-family: $font-main;
  background-color: $color-light;
  color: $color-dark;
  line-height: 1.6;
  padding: 10px ;
}
nav {
  background-color: $color-primary;
  color: $color-white;
  padding: 10px ;
  text-align: center;
  margin-bottom: 10px ;
  ul {
    list-style: none;

    li {
      display: inline;
      margin: 0 15px;

      a {
        color: $color-white;
        text-decoration: none;
        font-weight: bold;
             &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

footer {
  text-align: center;
  margin-top: 1 * 10px ;
  padding: 10px ;
  background-color: $color-light;
  color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

