// tipo de fuente
$font-main: 'Algerian';
$font-secondary: 'Arial, sans-serif';
// colores
$color-primary: #37607c;
$color-light: #f4efef;
$color-dark: #333333;
$color-white: #ffffff;
$color-gray: #bdc3c7;
$color-border: #7f8c8d;
$color-accent: #760707;
$color-success: #910934;
$color-warning: #04401c;
$color-danger: #e4e6dd;
$color-info: #dd078e;


