// tamaño de fuente principal
$font-main: 'Arial, sans-serif';
// colores
$color-primary: #37607c;
$color-light: #f4f4f4;
$color-dark: #333333;
$color-white: #ffffff;
$color-gray: #bdc3c7;
$color-border: #7f8c8d;
$color-accent: #f79948;
$color-success: #a9ee89;
$color-warning: #f1c40f;
$color-danger: #f58bf7;
$color-info: #dd078e;


